h1{
color:#B0C4DE;
}
h1{
  font-style: oblique;
}
p{
  color:#48D1CC;
}
hr{
 border-color: grey;
 border-width: 5px;
 border-style: dotted none none;
 width: 5%
}
body {
  background-image: url("https://img.freepik.com/foto-gratis/pared-estuco-liso_1194-7087.jpg"), url("paper.gif");
  background-color: #cccccc;
}
